.backgraound-img{
    width: 1320px;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../resources/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    margin: auto;
}

.container{
    text-align: center;
    color: #F00;
}
.title{
    width: 400;
    height: 100%;
    font-size: 32px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.text{
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    color: #fff;
    margin-top: 0;
     
}
.f{
    color: #F00;
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;

}
.e{
    
    color:#070211;;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.short{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.div{

    width: 1230px;;
    height: 700px;
    padding: 50px 30px 30px 100px;
    margin: 0 auto;


}


.banner2{
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    position: center;
    margin: auto;
    background-size:cover ;
}
.n{
   colo 
    
}
.text-container{
    text-align: left;
    margin-top: 100px;
}
.n{
    color: #FFF;
    font-weight: bold;
    font-size: 64px;
}
.v{
    color: #FFF;
    font-size: 18px;
}
.img{
    margin-top:100px;
    position: right;
    padding: center;
}
.book{
    background-color: hwb(350 85% 3% /0.9);
    width: 1320px;
    height: 482px;
    border-radius: 4px;
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
    padding-top: 30px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;

  }
.primary{
    margin-bottom: 10px;
    margin-top: 30px;
}
.o{
    margin-bottom: 10px;
    margin-top: 0px;
}
.t{
    margin-top: 10px;
    margin-top: 0px;
}
.j{
    border-radius: 9px;
    background: #F00;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.set{
    color: red;
}
.get{
    color: red;

}
.bed{
    color: red;
}
.banner4{
    display: flex;
    background-color: hwb(350 85% 3% / 0.9);
    width: 1320px;
    height: 600px;
    border-radius: 4px;
}
.container2{
    margin-top: 100px;
}





